.about{
    width: 100%;
    font-family:inherit;
}
.container{
    max-width: 1169px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.about-us-img{
    width: 50%;
}

.about-us-img > img{
    width: 100%;
}
.about-us-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.about-us-wrapper > .section-title{
  position: relative;
 
}
.section-title h1 {
    position: absolute;
    z-index: 1;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    line-height: 1;
    opacity: 0.07;
    top: -16px;
    left: 0;
    margin-bottom: 0;
    -webkit-text-fill-color: transparent;
}

.section-title > span {
    color: #825532;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
}
.section-title .sline{
    position: relative;
    padding-left: 75px;
    top: 15px;
}
.section-title .sline::before {
    position: absolute;
    background: #825532;
    content: "";
    height: 3px;
    width: 45px;
    left: 0;
    bottom: 11px;
}

.section-title h2 {
    font-size: 42px;
}
.section-title h2 {
    font-size: 50px;
    margin-top: 22px;
    letter-spacing: -0.3px;
}
.about-us-text{
    position:relative
}
.about-us-text p {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 32px;
    margin-bottom: 36px;
    line-height: 28px;
}
.about-button > .btn{
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    padding: 26px 54px 26px 50px;
    position: relative;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
    border-radius: 50px;
    border: none;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}
.about-button > .btn >img{

    position: relative;
    top: 3px;
    left: 7px;
    height: 20px;
    width: auto;
}
@media (max-width:880px)
{
    .container{
        flex-direction: column;
        align-items: center;
    }
    .about-us-img , .about-us-wrapper{
        width: 80%;
        gap: 30px;
    }
}