.slideShowContainer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .each-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .each-slide img {
    width: 100%;
    height: auto;
    max-height: 900px; /* Adjust this value as needed */
    object-fit: cover;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .each-slide img {
      max-height: 500px; /* Adjust this value as needed for mobile view */
    }  
  }
  