.btn{
    color: #ffffff;
    display: inline-flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    padding: 26px 54px 26px 50px;
    position: relative;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(-51deg, #eeae1d 0%, #ff5e14 99%);
    border-radius: 50px;
    border: none;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}
.btn > svg{

    position: relative;
    top: -4px;
    left: 7px;
    height: 20px;
    width: auto;
}

.btn:focus {
    outline: none; /* Removes default focus outline */
}

/* Add an optional box-shadow effect */
.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}