.footer-container {
  background-color: #1B1B1B;
  color: #ffffff;
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-section a {
  font-size: 16px;
  color: #d2d2d2;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ffffff;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #d2d2d2;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.contact-item svg,
.contact-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-item:hover {
  color: #ffffff;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the social icons */
}
.footer-social a{
  color: #fff;
}
.footer-social svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer-social svg:hover {
  transform: scale(1.2);
  color: #fff; /* Optional: Add a hover color effect */
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #d2d2d2;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  margin-top: 20px; /* Added margin for better spacing */
}

@media screen and (max-width: 1040px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    text-align: center;
    align-items: center;
  }
  .footer-social {
    margin-top: 20px; /* Added margin for better spacing on mobile */
  }
}
